In [1]:
##############################################################################
# PROJECT ADD & AI
##############################################################################

In [2]:
# System imports
import glob
import os
import matplotlib.pyplot as plt
import numpy as np
import datetime
from time import process_time

# Extra library imports
from PIL import Image
from scipy.optimize import minimize
import scipy.ndimage as ndi
import pandas as pd
import numpy as np

In [3]:
def calculate_symmetry(impath):
    im_arr=np.array(Image.open(impath)) #load image
    sx, sy, nb_channels = im_arr.shape #compute image size

    # Split the image into left and right halves
    mid_index = sy//2
    left_half = im_arr[:, :mid_index]
    right_half = im_arr[:, mid_index:]
    right_half = np.fliplr(right_half) 

    # Calculate the difference and symmetry index
    difference = np.abs(left_half - right_half)
    symmetry_score = np.sum(difference)
    total_pixels = np.product(left_half.shape)
    symmetry_index = symmetry_score / total_pixels

    return symmetry_index

In [4]:
def process_images(directory_path):
    data = []
    for image_path in glob.glob(os.path.join(directory_path, '*.JPG')):
        symmetry_index = calculate_symmetry(image_path)
        image_index = int(os.path.basename(image_path).split('.')[0])
        data.append({'Image Index': image_index, 'Symmetry Index': symmetry_index})
        
    #Create the dataframe with the image indexes and the corresponding symmetry indexes
    df = pd.DataFrame(data)
    df.set_index('Image Index', inplace=True)
    df.sort_index(inplace=True)
    return df

In [5]:
df=process_images("C:/Users/david/Downloads/ADD/Projet ADD/Images")

In [6]:
df

             Symmetry Index
Image Index
1                 19.361784
2                 15.496146
3                 32.311818
4                 27.137560
5                  2.517949
...                     ...
246                9.529423
247               32.297882
248               26.031079
249               76.909211
250              109.634891

[250 rows x 1 columns]

In [7]:
df.describe()

       Symmetry Index
count      250.000000
mean        53.647897
std         43.875592
min          0.117742
25%         14.835245
50%         32.108942
75%        102.157908
max        152.455379